/* ProductCreate.css */

.product-create-page {
    min-height: 100vh;
    padding-top: 22vh; 
}

    /* CONTAINER */
    .product-create-page .pp_dashboard-container {
        max-width: 900px;
        margin: 0 auto 2rem;
        padding: 0rem;
    }

    /* BOX */
    .product-create-page .pp_dashboard-box {
        border: 1px solid #ccc;
        border-radius: 12px;
        background-color: white;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
    }

    .product-create-page .pp_dashboard-flex {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
    }

    /* COLUMNS */
    .product-create-page .pp_dashboard-column {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        flex: 1;
        min-width: 300px;
    }

    /* INPUTS */
    .product-create-page .pp_input-container,
    .product-create-page .pp_input-container-beschrijving {
        font-size: 1rem;
        padding: 0.6rem;
        border: 2px solid #777;
        border-radius: 4px;
        width: 95%;
    }

    .product-create-page .pp_input-container-beschrijving {
        resize: none;
        height: 100px;
        min-height: 14.5rem;
    }

    /* TITLE */
    .product-create-page .pp_title {
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    /* ERROR */
    .product-create-page .pp_error {
        color: red;
        margin-top: 0.4rem;
        font-size: 0.9rem;
    }

    /* BUTTONS */
    .product-create-page .pp_buttons-row {
        display: flex;
        gap: 1rem;
        justify-content: center;
        margin-top: 1.5rem;
        flex-wrap: wrap;
    }

    .product-create-page .pp_btn {
        padding: 12px 20px;
        border: none;
        border-radius: 8px;
        font-weight: 700;
        cursor: pointer;
        background: #77c77a;
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        transition: background 0.3s ease, transform 0.2s ease;
    }

        .product-create-page .pp_btn:hover {
            background: #45a049;
            transform: translateY(-2px);
cd fribtebdçd fr        }
